[workspace]
members = ["crates/specs", "crates/zkwasm", "crates/cli"]
exclude = ["third-party/wasmi", "crates/playground"]

[workspace.dependencies]
anyhow = { version = "1.0.68", features = ["backtrace"] }
halo2aggregator-s = { git = "https://github.com/DelphinusLab/halo2aggregator-s.git", branch = "main", features = ["unsafe"] }
halo2_proofs = { git = "https://github.com/DelphinusLab/halo2-gpu-specific.git", default-features = true }
parity-wasm = { version = "0.42.0", features = ["sign_ext"] }
rayon = "1.8.0"
wasmi = { path = "third-party/wasmi" }

[profile.dev]
opt-level = 3

[patch."https://github.com/DelphinusLab/halo2-gpu-specific.git"]
halo2_proofs = { path = "./halo2-gpu-specific/halo2_proofs" }
